<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Task list</title>
<link rel="stylesheet" type="text/css" href="resources/styles/tasks.css"	media="screen" />
<script src="resources/scripts/jquery-2.0.3.js"></script>
<script src="resources/scripts/jquery-tmpl.js"></script>
<script src="resources/scripts/jquery.validate.js"></script>
<script src="resources/scripts/jquery-serialization.js"></script>
<script src="resources/scripts/tasks-controller.js"></script>
<script src="resources/scripts/date.js"></script>
	<script src="resources/scripts/teamManage.js"></script>
<script src="resources/scripts/loadTable.js"></script>
<script src="resources/scripts/user-controller.js"></script>
</head>
<body>
	<header>
		<span>Task list</span>
	</header>
	<main  id="taskPage">
	<section id="taskCreation" class="not">
		<div class="row">
			<div class="col-md-5">
				<form id="taskForm">
					<input type="hidden" name="id"/>
					<div class="form-group">
						<label>Task</label>
						<input type="text" required="required"
							   name="task" class="large form-control" placeholder="Breakfast at Tiffanys" maxlength="200"  />
					</div>
					<!-- The Priority ratings that is added to the task table  -->
					<div class="form-group">
						<label>Priority</label>
						<select name="priority" class="form-control">
							<option value="High">High</option>
							<option value="Medium">Medium</option>
							<option value="Low">Low</option>
						</select>
					</div>
					<div class="form-group">
						<label>Required by</label> <input   type="date" required="required"
															name="requiredBy" class="form-control" />
					</div>
					<div class="form-group">
						<label>Category</label>
						<select id="category" name="category" class="from-control">
							<option value="select">Select Category</option>
							<option value="Personal">Personal</option>
							<option value="Work">Work</option>
						</select>
					</div>
					<div class="form-group" id="teamDiv">
						<label>Fot Team</label>
						<select name="team" id="team" class="form-control">

						</select>
					</div>
					<nav>
						<a href="#" id="saveTask">Save task</a>    <!-- https://stackoverflow.com/questions/4855168/what-is-href-and-why-is-it-used -->
						<a href="#" id="clearTask">Clear task</a>
					</nav>
				</form>
			</div>
		</div>

	</section>
	<section id="creteUser" class="not">
		<div class="row">
			<div class="col-md-4">
				<form id="userForm" >
					<input type="hidden" name="userID">
					<div class="form-group">
						<label>First Name</label>
						<input type="text" name="firstName" class="form-control" placeholder="Michael" required="required"  >
					</div>
					<div class="form-group">
						<label>Last Name</label>
						<input type="text" name="lastName" class="form-control" placeholder="Berhanu" required="required">
					</div>
					<div class="form-group">
						<label>Email</label>
						<input type="email" class="form-control" required="required" name="email" placeholder="example@exaple.com">
					</div>
					<div class="form-group">
						<label>Phone</label>
						<input type="text" class="form-control"  name="phone" placeholder="xxx-xxx-xxxx">
					</div>
					<div class="form-group">
						<label>Location</label>
						<input type="text" class="form-control" name="location" placeholder="1000 N 4th St fairfield,iowa">
					</div>
					<nav>
						<a href="#" id="saveUser">Save User</a>    <!-- https://stackoverflow.com/questions/4855168/what-is-href-and-why-is-it-used -->
						<a href="#" id="clearUser">Clear User</a>
					</nav>

				</form>
			</div>
			<div class="col-md-8">
				<table id="tblUser">
					<colgroup>
						<col width="20%">
						<col width="20%">
						<col width="15%">
						<col width="15%">
						<col width="20%">
					</colgroup>
					<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Location</th>
					</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>


	</section>
	<section>
		<table id="tblTasks">
			<colgroup>
				<col width="25%">
				<col width="15%">
				<col width="10%">
				<col width="10%">
				<col width="20%">
				<col width="20%">
			</colgroup>
			<thead>
				<tr>
					<th>Name</th>
					<th>Due</th>
					<th>Category</th>
					<th>Priority</th>
					<th>Team</th>
					<th>Actions</th>

				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<nav>
			<a href="#" id="btnAddTask">Add task</a>
			<a href="#" id="btnAddUser">Add User</a>
			<a href="#" id="btnRetrieveTasks">Retrieve tasks from server</a>
			<a href="#" id="sortByPriority">Sorting by priority</a>
			<!--<button type="submit" id="bypriority">SortbyPriority</button>-->
		</nav>
	</section>

		<h1>Select Team from the drop dowm to join</h1>
		<hr>
		</p>

		<select id="sel">
			<option value="">-- Select --</option>
		</select>
		<body  onkeypress='myFunction(event)'>

		<input type='hidden' id='homepage' value=$_SESSION[user]>

		</body>
		<p id="msg"></p>
	</main>
	<footer>You have <span id="taskCount"></span>tasks</footer>
</body>
<!--<div id="taskRow">

</div>-->

<script id="taskRow" type="text/x-jQuery-tmpl">
<tr>
	<td {{if complete == true}}class="taskCompleted"{{/if}}>${teamName}</td>
	<td {{if complete == true}}class="taskCompleted"{{/if}}><time datetime="${requiredBy}">${dueDate}</time></td>
	<td {{if complete == true}}class="taskCompleted"{{/if}}>${category}</td>
	<td {{if complete == true}}class="taskCompleted"{{/if}}>${priority}</td>
	<td {{if complete == true}}class="taskCompleted"{{/if}}>${teamID}</td>
	<td>
		<nav>
			{{if complete != true}}			
				<a href="#" class="editRow" data-task-id="${id}">Edit</a>
				<a href="#" class="completeRow" data-task-id="${id}">Complete</a>
			{{/if}}
			<a href="#" class="deleteRow" data-task-id="${id}">Delete</a>
		</nav>
	</td>
</tr>

</script>
<script id="taskRow2" type="text/x-jQuery-tmpl">
<tr>
	<td {{if complete == true}}class="taskCompleted"{{/if}} >${task}</td>
	<td {{if complete == true}}class="taskCompleted"{{/if}}>${dueDate}</td>
	<td {{if complete == true}}class="taskCompleted"{{/if}}>${category}</td>
	<td {{if complete == true}}class="taskCompleted"{{/if}}>${priority}</td>
	<td {{if complete == true}}class="taskCompleted"{{/if}}>${teamName != null ? teamName : 'No team'}</td>
	<td>
		<nav>
			{{if complete != true}}
				<a href="#" class="editRow" data-task-id="${id}">Edit</a>
				<a href="#" class="completeRow" data-task-id="${id}">Complete</a>
			{{/if}}
			<a href="#" class="deleteRow" data-task-id="${id}">Delete</a>
		</nav>
	</td>
</tr>
</script>
<script id="userRow" type="text/x-jQuery-tmpl">
<tr>
	<td>${firstName}</td>
	<td>${lastName}</td>
	<td>${email}</td>
	<td>${phone}</td>
	<td>${location}</td>
</tr>
</script>

</html>

